#
#
#

[bind:children]
masters
slaves

[bind:vars]
zone={{ zone }}
masters=[{% for master in masters %} '{{ master.name }}' {% if not loop.last %}, {% endif %} {%- endfor -%}]

forwarders=[{% for ipaddr in forwarders -%} '{{ ipaddr }}' {%- if not loop.last %}, {% endif %} {%- endfor -%}]
contact="{{ contact }}"
update_key="{{ update_key }}"
nameservers=[{% for host in (masters + slaves) -%} {'name': '{{ host.name }}', 'address': '{{ host.address }}'}{% if not loop.last %}, {% endif %}{% endfor %}]

[masters]
{% for master in masters %}{{ master.address }}
{% endfor %}
[slaves]
{% for slave in slaves %}{{ slave.address }}
{% endfor %}
