---
###
### Main Configuration Section for OCP on GCP reference architecture ###
###

# Prefix for every resource name deployed. You can deploy multiple clusters
# under single account with different prefixes and DNS configuration
prefix: 'ocp'

# Username and password for Red Hat Customer Portal
rhsm_user: 'user@example.com'
rhsm_password: 'xxx'
# Pool name which shall be used to register the instances
rhsm_pool: 'OpenShift Enterprise Broker Infrastructure'

# Path to a RHEL image on local machine, downloaded from Red Hat Customer Portal
rhel_image_path: '~/Downloads/rhel-server-7.4-x86_64-kvm.qcow2'
# Choose to delete or retain the clean image during teardown
delete_image: false
# Choose to delete or retain the gold image during teardown
delete_gold_image: false

# Project ID and main zone settings for Google Cloud
gcloud_project: 'project-1'
gcloud_zone: 'us-central1-a'

# Public DNS domain which will be configured in Google Cloud DNS
public_hosted_zone: 'ocp.example.com'
# Public DNS name for the Master service
openshift_master_cluster_public_hostname: 'master.{{ public_hosted_zone }}'
# Internal DNS name for the Master service
openshift_master_cluster_hostname: 'internal-master.{{ public_hosted_zone }}'
# Domain name for the OpenShift applications
wildcard_zone: 'apps.{{ public_hosted_zone }}'

# Paths on the local file system for the certificate files. If empty, self-signed
# certificate will be generated
master_https_key_file: ''
master_https_cert_file: ''

# How many instances should be created for each group
master_instance_group_size: 3
infra_node_instance_group_size: 3
node_instance_group_size: 3

# Machine types
bastion_machine_type: g1-small
master_machine_type: n1-standard-4
infra_machine_type: n1-standard-2
node_machine_type: n1-standard-2

# OpenShift deployment type
# Use 'origin' to deploy OpenShift Origin on top of CentOS 7
openshift_deployment_type: openshift-enterprise
# Deploy OpenShift within containers instead of RPMs?
containerized: false

# OpenShift SDN selection
# options are 'redhat/openshift-ovs-multitenant', 'redhat/openshift-ovs-subnet'
os_sdn_network_plugin_name: 'redhat/openshift-ovs-multitenant'

# Deploy OpenShift Metrics
openshift_hosted_metrics_deploy: false
openshift_hosted_metrics_storage_volume_size: 20Gi

# Deploy OpenShift Logging
# Please note that ElasticSearch pod needs 8Gi of free RAM on a node, so you
# will probably need at least 'n1-standard-4' size for infra nodes. Alternatively
# for evaluation purposes, you can set 'openshift_logging_es_memory_limit'
# variable to cca 4Gi, so it fits on the 'n1-standard-2' size of infra nodes.
openshift_hosted_logging_deploy: false
openshift_logging_es_pvc_size: 100Gi

# OpenShift Identity Providers. This is Google oauth example (hosted_domain is
# optional and restricts login to users only from the specified domain)
# Any identity provider can be configured here, for documentation see
# https://docs.openshift.com/container-platform/latest/install_config/configuring_authentication.html#identity-providers-ansible
openshift_master_identity_providers:
- name: 'google'
  kind: 'GoogleIdentityProvider'
  login: true
  challenge: false
  mapping_method: 'claim'
  clientID: 'xxx-yyy.apps.googleusercontent.com'
  clientSecret: 'zzz'
  hostedDomain: 'example.com'


###
### Supplemental options ###
###


# Disk sizes in GB
bastion_disk_size: 20
master_boot_disk_size: 45
master_docker_disk_size: 25
infra_boot_disk_size: 25
infra_docker_disk_size: 25
infra_openshift_disk_size: 50
node_boot_disk_size: 25
node_docker_disk_size: 25
node_openshift_disk_size: 50

# Custom VPC Subnet, example value: '10.160.0.0/20'
# Default value is empty, when random subnet in form of 10.x.0.0/20 will be used
gce_vpc_custom_subnet_cidr: ''
