include "/etc/named/update.key" ;

zone {{ zone }} {
  type slave ; 
  masters { {% for ns in nameservers %} {%- if ns.name in masters -%} {{ ns.address }} ; {% endif -%} {% endfor -%} } ;
  file "/var/named/dynamic/zone.db" ;
  allow-update-forwarding { any ; } ;
};
