TYPE=Ethernet
BOOTPROTO=static
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME=public
DEVICE="{{item.device}}"
ONBOOT=yes
IPADDR={{item.ip4}}
PREFIX=32
GATEWAY={{item.gw4}}
PEERDNS=yes
DNS1={{item.dns}}
