---
- name: Get current Ansible version on local host
  command: command ansible --version
  register: local_ansible_version
- assert:
    that:
      - "'ansible 2.2' in local_ansible_version.stdout"
    msg: "You need Ansible version 2.2.0+"
