[OSEv3:children]
masters
etcd
nodes

[OSEv3:vars]
debug_level={{ debug_level }}
openshift_debug_level={{ debug_level }}
openshift_node_debug_level={{ debug_level }}
openshift_master_debug_level={{ debug_level }}
console_port={{ console_port }}
containerized={{ containerized }}
deployment_type={{ openshift_deployment_type }}
openshift_deployment_type={{ openshift_deployment_type }}
osm_cluster_network_cidr={{ osm_cluster_network_cidr }}
osm_default_node_selector='{{ osm_default_node_selector }}'
osm_default_subdomain={{ wildcard_zone }}
osm_use_cockpit={{ osm_use_cockpit }}
os_sdn_network_plugin_name={{ os_sdn_network_plugin_name }}
openshift_cloudprovider_kind={{ openshift_cloudprovider_kind }}
openshift_master_api_port={{ console_port }}
openshift_master_console_port={{ console_port }}
openshift_master_cluster_method={{ openshift_master_cluster_method }}
openshift_master_cluster_hostname={{ openshift_master_cluster_hostname }}
openshift_master_cluster_public_hostname={{ openshift_master_cluster_public_hostname }}
openshift_master_default_subdomain={{ wildcard_zone }}
openshift_master_access_token_max_seconds={{ openshift_master_access_token_max_seconds }}
openshift_hosted_router_selector='{{ openshift_hosted_router_selector }}'
openshift_hosted_registry_selector='{{ openshift_hosted_registry_selector }}'
openshift_hosted_registry_storage_kind={{ openshift_hosted_registry_storage_kind }}
openshift_hosted_registry_storage_provider={{ openshift_hosted_registry_storage_provider }}
openshift_hosted_registry_storage_gcs_bucket={{ gcs_registry_bucket }}
openshift_hosted_registry_storage_gcs_rootdirectory='{{ openshift_hosted_registry_storage_gcs_rootdirectory }}'
openshift_hosted_registry_pullthrough={{ openshift_hosted_registry_pullthrough }}
openshift_hosted_registry_acceptschema2={{ openshift_hosted_registry_acceptschema2 }}
openshift_hosted_registry_enforcequota={{ openshift_hosted_registry_enforcequota }}
openshift_hosted_metrics_deploy={{ openshift_hosted_metrics_deploy }}
openshift_hosted_metrics_storage_volume_size={{ openshift_hosted_metrics_storage_volume_size }}
openshift_hosted_metrics_storage_kind={{ openshift_hosted_metrics_storage_kind }}
openshift_metrics_hawkular_nodeselector={{ openshift_metrics_hawkular_nodeselector | to_json }}
openshift_metrics_cassandra_nodeselector={{ openshift_metrics_cassandra_nodeselector | to_json }}
openshift_metrics_heapster_nodeselector={{ openshift_metrics_heapster_nodeselector | to_json }}
openshift_hosted_logging_deploy={{ openshift_hosted_logging_deploy }}
openshift_logging_es_pvc_size={{ openshift_logging_es_pvc_size }}
openshift_logging_es_pvc_dynamic={{ openshift_logging_es_pvc_dynamic }}
openshift_logging_es_cluster_size={{ openshift_logging_es_cluster_size }}
openshift_logging_es_nodeselector={{ openshift_logging_es_nodeselector | to_json }}
openshift_logging_kibana_nodeselector={{ openshift_logging_kibana_nodeselector | to_json }}
openshift_logging_curator_nodeselector={{ openshift_logging_curator_nodeselector | to_json }}
openshift_disable_check={{ openshift_disable_check }}
openshift_master_identity_providers={{ openshift_master_identity_providers | to_json }}

[masters]
{% for i in groups['tag_' + prefix + '-master'] %}
{{ hostvars[i].gce_name }}
{% endfor %}

[etcd]
{% for i in groups['tag_' + prefix + '-master'] %}
{{ hostvars[i].gce_name }}
{% endfor %}

[nodes]
{% for i in groups['tag_' + prefix + '-master'] %}
{{ hostvars[i].gce_name }} openshift_node_labels="{'role': 'master'}"
{% endfor %}
{% for i in groups['tag_' + prefix + '-infra-node'] %}
{{ hostvars[i].gce_name }} openshift_node_labels="{'role': 'infra'}"
{% endfor %}
{% for i in groups['tag_' + prefix + '-node'] %}
{{ hostvars[i].gce_name }} openshift_node_labels="{'role': 'app'}"
{% endfor %}
