imports:
- path: core.jinja
resources:
- name: core
  type: core.jinja
  properties:
    prefix: {{ prefix }}
    project: {{ gcloud_project }}
    region: {{ gcloud_region }}
    zone: {{ gcloud_zone }}
    gold_image: {{ gold_image_family }}
    console_port: {{ console_port }}
    containerized: {{ containerized }}
    bastion_machine_type: {{ bastion_machine_type }}
    bastion_disk_size: {{ bastion_disk_size }}
    master_machine_type: {{ master_machine_type }}
    master_boot_disk_size: {{ master_boot_disk_size }}
    master_docker_disk_size: {{ master_docker_disk_size }}
    infra_machine_type: {{ infra_machine_type }}
    infra_boot_disk_size: {{ infra_boot_disk_size }}
    infra_docker_disk_size: {{ infra_docker_disk_size }}
    infra_openshift_disk_size: {{ infra_openshift_disk_size }}
    node_machine_type: {{ node_machine_type }}
    node_boot_disk_size: {{ node_boot_disk_size }}
    node_docker_disk_size: {{ node_docker_disk_size }}
    node_openshift_disk_size: {{ node_openshift_disk_size }}
    master_instance_group_size: {{ master_instance_group_size }}
    infra_node_instance_group_size: {{ infra_node_instance_group_size }}
    node_instance_group_size: {{ node_instance_group_size }}
    gcs_registry_bucket: {{ gcs_registry_bucket }}
    gce_vpc_custom_subnet_cidr: {{ gce_vpc_custom_subnet_cidr }}
