imports:
- path: tmp-instance.jinja
resources:
- name: tmp-instance
  type: tmp-instance.jinja
  properties:
    prefix: {{ prefix }}
    zone: {{ gcloud_zone }}
    region: {{ gcloud_region }}
    gce_vpc_custom_subnet_cidr: {{ gce_vpc_custom_subnet_cidr }}
    source_family: {{ 'projects/' + gcloud_project + '/global/images/family/rhel-guest-clean' if openshift_deployment_type == 'openshift-enterprise' else 'projects/centos-cloud/global/images/family/centos-7' }}
