resources:
- name: {{ properties['gold_image'] }}
  properties:
    family: {{ properties['gold_image_family'] }}
    sourceDisk: zones/{{ properties['zone'] }}/disks/{{ properties['prefix'] }}-tmp-instance
  type: compute.v1.image
